
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }
</style>

<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        Invoice Management
    </h1>
    
</section>

<section class="content">

    <div class="row">

        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->

                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                        <div id="msgDiv">

                            @if (ViewBag.msg != null && (ViewBag.msg).Message_Id == 1)
            {

                                <div id="myAlert" class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>@ViewBag.msg.Message</strong>
                                    @*<a style="font:bold;color:red;margin-left:20%;" href="@ViewBag.msg.Message">Download Invalid Excel</a>*@
                                </div>
                            }
                            else
                            {
                                if (ViewBag.msg != null)
                                {
                                    <div id="myAlert" class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong> @ViewBag.msg.Message</strong>
                                    </div>
                                }
                            }

                            @*@if (ViewBag.Msg != null)
            {
                <div id="myAlert" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@ViewBag.Msg</strong>
                </div>
            }*@
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body" style="text-align:left;">
                                    <div class="form-horizontal">
                                        
                                            <div class="form-group col-md-12">

                                                <div class="col-md-12 col-sm-4">
                                                    <div class="col-md-12">
                                                        <select class="form-control" id="SearchCreteria" >
                                                            <option selected="selected" value="">--Select--</option>
                                                            <option value="InvoiceNo">Invoice No</option>                                                             
                                                        </select>
                                                        &nbsp;
                                                        &nbsp;
                                                        <input type="text" id="SearchValue" class="form-control" placeholder="Search" />
                                                        &nbsp;
                                                        &nbsp;
                                                        <button onclick="paging(1)" class="form-control btn-primary">Search</button>
                                                    </div>
                                                </div>

                                              
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body" style="text-align:left;">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <input type="text" id="txtFromDate" class="form-control" placeholder="From Date" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <input type="text" id="txtToDate" class="form-control" placeholder="To Date" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <button onclick="PendingDateFilter()" class="form-control btn-primary">Search</button>
                                                    <button onclick="Clear()" class="form-control btn-primary">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div style="width:100%;">

                                    <div class="panel">

                                        <div style="width:100%;">

                                            <div class="tab-content" style="padding-top: 20px">


                                                <div class="panel">

                                                    <div class="table-responsive panel-body">
                                                        <div class="row">
                                                            <div id="GridDiv">
                                                                @{Html.RenderAction("SupplierInvoice"); }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </div>
</section>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function (e) {
   


        $(function () {

            $('#SearchCreteria').change(function () {
                $('#SearchValue').val('');
                if ($('#SearchCreteria').val() == '') {
                    paging(1);
                }
            })

            $('#txtFromDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });
            $('#txtToDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });


        });

    });
    function Clear() {
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        paging(1);
    }
    function PendingDateFilter() {
        if ($("#txtFromDate").val() == "") {
            alert("Please Select From Date");
            $("#txtFromDate").focus();
            return false;
        }
        if ($("#txtToDate").val() == "") {
            alert("Please Select To Date");
            $("#txtToDate").focus();
            return false;
        }

        $('#SearchValue').val('');

        paging(1);
    }




    /*************Paging**************/
    function paging(currentpage) {

        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("SupplierInvoice", "SupplierInvoice")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'fromDate': $("#txtFromDate").val(), 'toDate': $("#txtToDate").val(), 'SearchBy': $("#SearchCreteria").val(), 'SearchValue': $("#SearchValue").val() },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }

 

</script>