
@model  IEnumerable<VendorPortal.Models.tblLineStopage>

@{
    var objPagingmdl = (VendorPortal.Models.BasicPaging)ViewBag.paging;
    int SerialNo = (objPagingmdl.CurrentPage - 1) * objPagingmdl.RowParPage + 1;
}

<div id="GridDiv">
    <table id="tblAppPackList" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr role="row">
                <th>Sr. No.</th>
                <th>Plant.</th>
                <th>Date</th>
                <th>Line No</th>
                <th>Supplier Code</th>
                <th>Supplier Name</th>
                <th>Material Code</th>
                <th>Material Des.</th>
                <th>Instance</th>
                <th>Duration From</th>
                <th>Duration To</th>
                <th>Stop Time</th>
                <th>Reason No</th>
                <th>Reason Description</th>
                <th>Remarks</th>
                <th>Upload Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@SerialNo">
                    <td align="left">@SerialNo</td>
                    <td align="left">
                        @item.Plant
                    </td>
                    <td align="left">
                        @item.Date
                    </td>
                    <td align="left">
                        @item.LineNumber

                    </td>
                    <td align="left">
                        @item.SuppCode

                    </td>
                    <td align="left">
                        @item.SuppName

                    </td>
                    <td align="left">
                        @item.MatCode

                    </td>
                    <td align="left">
                        @item.MatDes

                    </td>
                    <td align="left">
                        @item.Instance

                    </td>
                    <td align="left">
                        @item.DurationFrom

                    </td>
                    <td align="left">
                        @item.DurationTo

                    </td>
                    <td align="left">
                        @item.StopTime

                    </td>
                    <td align="left">
                        @item.ReasonNo

                    </td>
                    <td align="left">
                        @item.ReasonDescription

                    </td>
                    <td align="left">
                        @item.Remarks

                    </td>
                    <td align="left">
                        @item.UploadDate

                    </td>
                </tr>
                SerialNo++;
            }

        </tbody>
    </table>

</div>
@Html.Partial("_Paging", (VendorPortal.Models.BasicPaging)ViewBag.paging)
<script type="text/javascript">
    



    function paging(currentpage) {
        var _supplierCod = $('#DDLSN').val();
        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("LS", "Common")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'SUPP_CODE': _supplierCod },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });

        return false;
    }





</script>
