@model  IEnumerable<VendorPortal.Models.tblRating>

@{
    var objPagingmdl = (VendorPortal.Models.BasicPaging)ViewBag.paging;
    int SerialNo = (objPagingmdl.CurrentPage - 1) * objPagingmdl.RowParPage + 1;
}


<div id="GridDiv">
    <table id="tblAppPackList" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr role="row">
                <th>Sr. No.</th>
                <th>Rating Month</th>
                <th>Financial Year</th>
                <th>Plant</th>
                <th>Cumm. Ranking</th>
                <th>Supplier Code</th>
                <th>Supplier Name</th>

                <th>Monthly Delivery Rating</th>

                <th>Monthly Quality Rating </th>

                <th>Monthly Overall Rating</th>

                <th>Cumm. Delivery Rating</th>
                <th>Cumm. Quality Rating</th>

                <th>Cumm. Overall Rating</th>

                <th>Grade</th>

                <th>Upload Date</th>
               

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                if (@item.Grade == "A")
                {
                <tr style="background-color:#37BC61;" id="@SerialNo">
                    <td align="left">@SerialNo</td>
                    <td align="left">@item.RatingMonth</td>
                    <td align="left">@item.FinancialYear</td>
                    <td align="left">@item.Plant</td>
                    <td align="left">@item.CummRank</td>
                    <td align="left">
                        @item.SuppCode
                    </td>
                    <td align="left">
                        @item.SuppName
                    </td>
                    <td align="left">
                        @item.MonthlyDeliveryRating
                    </td>
                    <td align="left">
                        @item.MonthlyQualityRating
                    </td>
                    <td align="left">
                        @item.MonthlyOverallRating
                    </td>
                    <td align="left">
                        @item.CummDeliveryRating
                    <td align="left">
                        @item.CummQualityRating
                    </td>
                    <td align="left">
                        @item.CummOverallRating
                    </td>
                    <td align="left">
                        @item.Grade
                    </td>
                    <td align="left">
                        @item.UploadDate
                    </td>
                   
                </tr>
                }
                else if (@item.Grade == "B")
                {
                    <tr style="background-color:#FFFF66;" id="@SerialNo">
                        <td align="left">@SerialNo</td>
                        <td align="left">@item.RatingMonth</td>
                        <td align="left">@item.FinancialYear</td>
                        <td align="left">@item.Plant</td>
                        <td align="left">@item.CummRank</td>
                        <td align="left">
                            @item.SuppCode
                        </td>
                        <td align="left">
                            @item.SuppName
                        </td>
                        <td align="left">
                            @item.MonthlyDeliveryRating
                        </td>
                        <td align="left">
                            @item.MonthlyQualityRating
                        </td>
                        <td align="left">
                            @item.MonthlyOverallRating
                        </td>
                        <td align="left">
                            @item.CummDeliveryRating
                        <td align="left">
                            @item.CummQualityRating
                        </td>
                        <td align="left">
                            @item.CummOverallRating
                        </td>
                        <td align="left">
                            @item.Grade
                        </td>
                        <td align="left">
                            @item.UploadDate
                        </td>

                    </tr>
                }
                else if (@item.Grade == "C")
                {
                    <tr  style="background-color:#ff6666;" id="@SerialNo">
                        <td align="left">@SerialNo</td>
                        <td align="left">@item.RatingMonth</td>
                        <td align="left">@item.FinancialYear</td>
                        <td align="left">@item.Plant</td>
                        <td align="left">@item.CummRank</td>
                        <td align="left">
                            @item.SuppCode
                        </td>
                        <td align="left">
                            @item.SuppName
                        </td>
                        <td align="left">
                            @item.MonthlyDeliveryRating
                        </td>
                        <td align="left">
                            @item.MonthlyQualityRating
                        </td>
                        <td align="left">
                            @item.MonthlyOverallRating
                        </td>
                        <td align="left">
                            @item.CummDeliveryRating
                        <td align="left">
                            @item.CummQualityRating
                        </td>
                        <td align="left">
                            @item.CummOverallRating
                        </td>
                        <td align="left">
                            @item.Grade
                        </td>
                        <td align="left">
                            @item.UploadDate
                        </td>

                    </tr>
                }
                SerialNo++;
            }

        </tbody>
    </table>

</div>

@Html.Partial("_Paging", (VendorPortal.Models.BasicPaging)ViewBag.paging)

<script type="text/javascript">
   

    function paging(currentpage) {
        var _supplierCod = $('#DDLSN').val();
        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("Rtg", "Common")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'SUPP_CODE': _supplierCod },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }



</script>




