@model IEnumerable<VendorPortal.Models.InvoiceViewModel>

@{
    var objPagingmdl = (VendorPortal.Models.BasicPaging)ViewBag.paging;
    int SerialNo = (objPagingmdl.CurrentPage - 1) * objPagingmdl.RowParPage + 1;
}


<style>
    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }
</style>

 
 
    <table class="table table-bordered table-condensed table-hover table-striped" id="tblPending" style="width:100%" align="left">
        <thead>
            @*<tr>
                    <th colspan="4" align="left">
                        From Date: <input type="date" id="PendingFromdate">
                        To Date:<input type="date" id="PendingTodate">


                        <button id="btnPendingFind">Find</button>
                    </th>
                </tr>*@
            <tr>
                <th>Sr. No.</th>
                <th>SUPPLIER CODE</th>
                <th>SUPPLIER NAME</th>
                <th>Invoice No.</th>
                <th>Invoice Date</th>                
                <th>Quantity</th>  
                <th>Total AMT.</th>  
                <th>Action</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td align="left">@SerialNo</td>
                    <td align="left">@Html.DisplayFor(m => @item.SUPP_CODE)</td>
                    <td align="left">@Html.DisplayFor(m => @item.SUPP_Name)</td>
                    <td align="left">@Html.DisplayFor(m => @item.INVOICE_NUMBER)</td>
                    <td align="left">@Html.DisplayFor(m => @item.INVOICE_DATE)</td>
                    <td align="left">@Html.DisplayFor(m => @item.Qty)</td>
                    <td align="left">@Html.DisplayFor(m => @item.TotalAmt)</td> 
                    <td align="left">
                        <span class="btn btn-primary btn-xs">
                            <a href=@Url.Action("BuyerInvoiceDetail", "BuyerInvoice", new { InvoiceNo = @item.INVOICE_NUMBER, InvoiceDate=@item.INVOICE_DATE, Supp_Code=@item.SUPP_CODE }) style="color:#FFFFFF;">
                                <i class="fa fa-check"></i>
                                <span>View</span>
                            </a>
                        </span>
                    </td>
                </tr>
                SerialNo++;
            }
        </tbody>
    </table>

    @Html.Partial("_Paging", (VendorPortal.Models.BasicPaging)ViewBag.paging)


