@model IEnumerable<VendorPortal.Models.SchedulerViewModel>



@{
    ViewBag.Title = "SupplierSchedulerDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i>Schedule Management</a></li>
                <li><a href="#">Buyer Scheduler</a></li>
                <li class="active">ACKNOWLEDGE/DECLINE Scheduler</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <!-- <header class="panel-heading">
                   (*) Mandatory fields to be filled in by Vendor / Requestor
                </header>-->
                <div class="panel-body">
                    <form class="form-horizontal" role="form">


                        <div class="row">
                            @*<div class="table-responsive panel-body">
                                    <table align="left">
                                        <tr>
                                            <th>
                                                From Date: <input type="date" id="Fromdate">
                                                To Date:<input type="date" id="Todate">
                                                <input type="button" id="MyButton" value="Find" onclick="date()" />

                                            </th>
                                        </tr>
                                    </table>
                                </div>*@
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped" id="pending" align="left">
                                    <thead>
                                        <tr>

                                            <th>Sr. No.</th>
                                            <th><input type="checkbox" id="ckbCheckAll" /></th>
                                            <th>
                                                Plant Name
                                            </th>
                                            <th>
                                                Supplier Code
                                            </th>
                                            <th>
                                                Supplier Name
                                            </th>
                                            <th>
                                                Item Code
                                            </th>
                                            <th>
                                                Item Description
                                            </th>
                                            <th>
                                                UOM
                                            </th>
                                            <th>
                                                Position No.
                                            </th>
                                            <th>
                                                Schedule No.
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                            <th>
                                                Delv. Date
                                            </th>
                                            <th>
                                                Remark
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{ int rowNo = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="color:black;font-size:small">
                                                    @rowNo
                                                </td>
                                                <td align="center">
                                                    <input type="checkbox" id="@item.ScheduleId" class="checkBoxClass" name="CategoryIds" value="@item.ScheduleId" />

                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.Plant_Name)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.SUPP_CODE)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.SUPP_NAME)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.MaterialCode)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.MaterialDescription)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.UOM)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.Position)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.Schedule_NO)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.Qty)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    @Html.DisplayFor(m => item.Delv_Date)
                                                </td>
                                                <td style="color:black;font-size:small">
                                                    <input type="text" id="@rowNo" style="width:300px" class="form-control tempLabel" />
                                                </td>
                                            </tr>
                                            rowNo++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        @if (ViewBag.SetStatus)
                        {
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="button" class="btn btn-info" id="btnApprove" name="submit1" style="background-color:green;border-color:green" value="ACKNOWLEDGE" />
                                    <input type="button" class="btn btn-danger" id="btnReject" style="background-color:darkred;border-color:darkred" value="DECLINE" />

                                </div>
                            </div>
                        }
                        <div class="col-lg-12">
                            <div class="row">
                                <a href="@Url.Action("ViewSupplierSchedule")">Back To List</a>
                            </div>
                        </div>
                    </form>

                </div>
            </section>
        </div>
    </div>

</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
        });
        $(".checkBoxClass").change(function () {
            if (!$(this).prop("checked")) {
                $("#ckbCheckAll").prop("checked", false);
            }
        })

        $("#btnApprove").click(function () {
            if (confirm('Are you sure wants to take action on schedule ?')) {
                var flg = 0;
                var i = 0;
                var values = [];
                $("#pending input[type=checkbox]").each(function () {
                    i++;

                  //  debugger;
                    if ($(this).is(':checked')) {
                        var ind = i - 1;
                        flg = 1;
                        //  alert($("#" + ind).val());
                        //  var ss = $("#" + ind).val();
                       // debugger;
                        values.push({
                            ScheduleId: parseInt($(this).val()),
                            Remark: $("#" + ind).val()
                        }
                        );

                    }

                });
                if (flg == 0) {
                    alert("Please Select For Acknowledge")
                }
                else {
                    GetApproved(values);
                }
            }
        });

        $("#btnReject").click(function () {
            if (confirm('Are you sure wants to take action on schedule ?')) {
                var flg = 0;
                var i = 0;
                var values = [];
                $("#pending input[type=checkbox]").each(function () {
                    i++;

                  //  debugger;
                    if ($(this).is(':checked')) {
                        var ind = i - 1;
                        flg = 1;
                        //  alert($("#" + ind).val());
                        //  var ss = $("#" + ind).val();
                       // debugger;
                        values.push({
                            ScheduleId: parseInt($(this).val()),
                            Remark: $("#" + ind).val()
                        }
                        );

                    }

                });

                if (flg == 0) {
                    alert("Please Select For Decline");
                }
                else {
                    GetDecline(values);
                }
            }
        });

    });



    function GetApproved(values) {
        var postData = JSON.stringify(values);
        alert(postData);
         $.ajax({
                url: "@Url.Action("ApprovedStatus", "Schedule")",
                type: "GET",
                dataType: "JSON",
                data: { 'values': postData },
                success: function (result) {
                    alert("Status Updated Successfully");
                    window.location.href='@Url.Action("ViewSupplierSchedule", "Schedule")'
                }
            });
    }

       function GetDecline(values) {
        var postData = JSON.stringify(values);

         $.ajax({
                url: "@Url.Action("DeclineStatus", "Schedule")",
                type: "GET",
                dataType: "JSON",
                data: { 'values': postData },
                success: function (result) {
                    alert("Status Updated Successfully");
                    window.location.href='@Url.Action("ViewSupplierSchedule", "Schedule")'
                }
            });
    }
</script>