@model IEnumerable<VendorPortal.Models.tblCity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminView.cshtml";
}




<div class="form-horizontal">
    <section class="content-header">
        <h1>
            City List
        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-body">

                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="table-responsive panel-body">
                                    <div class="row">
                                        <div id="GridDiv">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-condensed table-hover table-striped" id="pending" align="left">
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CityName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StateName)
                                                        </th>


                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Active)
                                                        </th>

                                                        <th></th>
                                                    </tr>

                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CityName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.StateName)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
                                                                @Html.ActionLink("Delete", "Delete", new { id = item.CityId })
                                                            </td>
                                                        </tr>
                                                    }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>